.right-circle:after {
  content: ' \25CF ';
  font-size: 10px;
  margin: 0 3px;
}

code {
  color: black;
  background: #add8e6;
  border-radius: 10px;
  padding: 1px 7px;
}

a {
  color: #4C74B9;
  text-decoration: underline;
  text-decoration-color: #D2DCEE;
}
