.post-detail {
  background-color: #e8f4f8;
  margin: 1% 5% 5% 5%;
  border: 1px solid #e4e4e4;
  padding: 30px;
}

.post-detail .right-circle:after {
  content: ' \25CF ';
  font-size: 10px;
  margin-left: 3px;
}

.post-title {
  font-size: 36px;
  font-weight: bold;
}

.post-bait {
  font-style: italic;
  font-size: 18px;
}

.post-reading-time {
  display: inline-block;
  font-size: 12px;
}

.post-published-since {
  display: inline-block;
  font-size: 12px;
}

.post-tags {
  color: #0645AD;
  font-size: 12px;
  cursor: pointer;
  margin: 10px 0;
}

.post-quote {

}

.post-image {

}

.post-image img {

}

.post-code {
  background-color: lightgray;
  white-space: pre-wrap
}
